@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";

*{
    font-weight: 400;
}
::-webkit-scrollbar{
    width: 0px;
}
button{
    cursor: pointer !important;
    padding: 5px 10px;
    /* border: 1px solid grey; */
}
.app{
    max-width: 1920px;
    margin: 0 auto;
}
/* ///////////navbar */

.header .ul{
    top: 100%;
   height: auto;
   opacity: 1;
   z-index: 5;
}
.navbar{
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 55;
}
/* ///////////navbar */
/* /////////////caruselHome */
.alice-carousel__play-btn{
    display: none !important;
}
/* /////////////caruselHome */
/* /////////////caruselcategoryHome */
.alice-carousel__dots{
    display: none;
}
.alice-carousel__prev-btn{
    display: none !important;
}
.alice-carousel__next-btn{
    display: none !important;
}
/* /////////////caruselcategoryHome */